@import "../fonts/PressStart2P/stylesheet.css";
@import "../fonts/johnny-fever/stylesheet.css";
/*
 * 92vmin is the height of the maze.
 */

html, body {
	height: 101vh;
}

body {
	background: black;
	color: white;
	margin: 0;
	overflow: hidden;
	font-family: "PressStart2P", "Courier New", "Courier";
	text-transform: uppercase;
}

.sup {
	top: -2.1vmin;
	position: relative;
}

* {
	box-sizing: border-box;
}

.stats {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
	width: calc(92vmin * 9 / 7);
	top: 0.8vmin;
	left: 50%;
	margin-left: calc(-92vmin * 9 / 14);
	line-height: 1;
	height: 4vmin;
	font-size: 4vmin;
	overflow: hidden;
}

#score-wrap {
	position: absolute;
	left: 0;
	top: 0;
}

#high-score-wrap {
	position: absolute;
	right: 0;
	top: 0;
}

.kc-life {
	display: inline-block;
	width: 4vmin;
	height: 4vmin;
	background-size: 4vmin 4vmin;
	background-image: url('../images/kc-still.gif');
	background-repeat: no-repeat;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	margin-left: 0.5vmin;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100vw;
	height: 100vh;
	display: block;
	line-height: 100vh;
	font-size: 3vmin;
}

#overlay.hidden {
	display: none;
}

#maze {
	width: calc(92vmin * 9 / 7);
	height: 92vmin;
	transform: translateZ(0);
	transform-origin: 0 0;
	position: absolute;
	bottom: 0.8vmin;
	left: 50%;
	margin-left: calc(-92vmin * 9 / 14)
}

th {
	width: 0px;
	display: none;
}
td {
	border: 0.5vmin solid blue;
	width: 10.6666vmin; /* 92vmin / 9); */
	height: calc(92vmin / 7);
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

td:before {
	content: "";
}

td.s {
	border-bottom: none;
}
td.n {
	border-top: none;
}
td.w {
	border-left: none;
}
td.e {
	border-right: none;
}
td.v {
	background: skyblue
}

td.n.e::before,
td.n.w::before,
td.s.e::after,
td.s.w::after {
	width: 1.2vmin;
	height: 1.2vmin;
	background: blue;
	display: block;
	position: absolute;
}

td.n.e::before,
td.n.w::before {
	top: -0.7vmin;
}
	
td.s.e::after,
td.s.w::after {
	bottom: -0.7vmin;
}
	
td.n.e::before,
td.s.e::after {
	right: -0.7vmin;
}

td.n.w::before,
td.s.w::after {
	left: -0.7vmin;
}


/*
 * moving objects
 */

.player {
	width: calc(92vmin / 9 );
	height: calc(92vmin / 9 );
	position: absolute;
	top: 1vmin;
	left: 1vmin;
	display: inline-block;

	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	
	transform: translate3d(0, 0, 0);
	/* transition: transform linear 250ms; */
}

.player.paused {
	animation-play-state: paused;
}

.player:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-size: calc(92vmin / 9 ) auto;
	background-position-y: calc(92vmin / 9 * 4 / 16);
	background-repeat: no-repeat;
}

.player:after {
	content: "";
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-size: calc(92vmin / 9 ) calc(92vmin / 9 );
	background-repeat: no-repeat;
}

/* Moving */
.player.w {
	animation: go-west linear 500ms;
}


.player.e {
	animation: go-east linear 500ms;
}

.player.n {
	animation: go-north linear 500ms;
}

.player.s {
	animation: go-south linear 500ms;
}

.player.dot {
	z-index: 10;
	/* transition: transform linear 1000ms; */
}

.kc {
	z-index: 20;
}

.stop {
	display: none;
}

.muncher {
	z-index: 30;
}

.dot:after {
	background-image: url('../images/dot.gif');
}

.dot.pill:after {
	background-image: url('../images/pill.gif');
	animation: rotate-pallette 1000ms infinite;
}

.muncher:before {
	
}

.muncher:after {
	background-image: url('../images/muncher-left.gif');
	background-size: auto calc(92vmin / 9 );
	animation: muncher-move 250ms steps(2) infinite;
}

.muncher-1:after {
	filter: hue-rotate(160deg);
}

.muncher-2:after {
	filter: hue-rotate(260deg);
}

.pill-eaten .muncher.edible:after {
	filter: saturate(0%) brightness(2);
}

.pill-wearing-out .muncher.edible:after {
	animation: muncher-flash 250ms infinite;
}

.muncher.eaten {
	z-index: 10;
	animation-duration: 100ms;
}

.muncher.eaten:after {
	opacity: 0;
}

.muncher.e:after {
	transform: scaleX(-1);
}

/*
 * EYES
 */

.muncher.w:before {
	background-image: url('../images/eyes-left.gif');
}

.muncher.e:before {
	background-image: url('../images/eyes-left.gif');
	transform: scaleX(-1);
}

.muncher.n:before {
	background-image: url('../images/eyes-down.gif');
	transform: scaleY(-1);
	background-position-y: calc(92vmin / 9 * 8 / 16);
}

.muncher.s:before {
	background-image: url('../images/eyes-down.gif');
}

.kc:after {
	background-image: url('../images/kc-still.gif');
}


.kc.move:after {
	background-image: url('../images/kc-left.gif');
	background-size: auto calc(92vmin / 9 );
	animation: kc-move 250ms steps(4) infinite;
}


.kc.die:after {
	background-image: url('../images/kc-dying.gif');
	background-size: auto calc(92vmin / 9 );
	animation: kc-die 1000ms steps(8);
}

.kc.dead:after {
	visibility: hidden;
}

.kc.e:after {
	transform: scaleX(-1);
}

.kc.n:after {
	transform: rotate(90deg);
}

.kc.s:after {
	transform: scaleX(-1) rotate(-90deg);
}

#bonus-display {
	position: absolute;
	font-size: 2vmin;
	transform: translate3d(0, 0, 0);
	opacity: 0;
}

#bonus-display.show {
	animation: show-bonus 500ms;
	
}



/*
 * Styles for demo
 */
.demo-mode #maze {
	display: none;
}

.slide {
	text-align: center;
	padding-top: 20vmin;
	line-height: 4;
	font-size: 3vmin;
	white-space: nowrap;
}

.logo-container {
	margin-top: -20vmin;
	height: 77vh;
}

#slide1-3, #slide1-4 {
	position: absolute;
	width: 100%;
}

#slide1-3 {
	top: 50vmin;
}

#slide1-4{
	top: 35vmin;
}

.slide .kc {
	position: relative;
}

.slide .kc.e {
	animation: go-east-demo linear 4000ms;
}

.kc-munchkin-logo {
	font-family: 'JohnnyFever-Regular';
	line-height: 1;
	font-size: 15vmin;
	height: 15vmin;
	width: 100%;
	transform: perspective(200px) scaleY(1.5) rotateX(-25deg) translateY(100vh);
	opacity: 0;
	transition: opacity 1500ms linear, transform 1500ms linear;
	color: #D92A27;
	margin-top: -0.1vmin;
}

.kc-munchkin-logo.animate {
	opacity: 1;
	transform: perspective(200px) scaleY(1.5) rotateX(-25deg) translateY(0vh);
}

.white-gradient {
	position: relative;
}
.white-gradient:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
}

@keyframes kc-die {
	100% { background-position: calc(-92vmin / 9 * 8) }
}

/*
 * Why on earth does Chrome Win need -89.7vmin instead of -92vmin? Because if it
 * doesn't, it will show an animation flaw
 */
@keyframes kc-move {
	100% { background-position: calc(-92vmin / 9 * 4) }
}

@keyframes muncher-move {
	100% { background-position: calc(-92vmin / 9 * 2) }
}

@keyframes muncher-flash {
	0%, 50%, 100% {
		 opacity: 1;
	}
	25%, 75% {
		 opacity: 0;
	}
}

@keyframes go-west {
	100% { transform: translate3d(calc(-120vmin / 9), 0, 0); }
}

@keyframes go-east {
	100% { transform: translate3d(calc(120vmin / 9), 0, 0); }
}

@keyframes go-north {
	100% { 	transform: translate3d(0, calc(-120vmin / 9), 0); }
}

@keyframes go-south {
	100% { 	transform: translate3d(0, calc(120vmin / 9), 0); }
}

@keyframes go-east-demo {
	0% { transform: translate3d(-60vw, 0, 0); }
	100% { transform: translate3d(0, 0, 0); }
}


@keyframes show-bonus {
	0% {
		opacity: 0,
		transform3d(0, 0, 0);
	}
	
	50% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(2);
	}
	
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(2);
	}
	
}

@keyframes rotate-pallette {
	0% {
		filter: hue-rotate(0deg);
	}
	
	100% {
		filter: hue-rotate(360deg);
	}
}

@media screen and (max-aspect-ratio: 31 / 26) {
	
	.stats {
		width: 100vw;
		top: 0.8vw;
		left: 0;
		margin-left: 0;
		height: 4vw;
		font-size: 4vw;
	}
	
	
	.kc-life {
		width: 4vw;
		height: 4vw;
		background-size: 4vw 4vw;
	}
	
	#maze {
		width: 100vw;
		height: 77vw;
		top: 5vw;
		bottom: auto;
		left: 0;
		right: autp;
		margin-left: 0;
	}
	
	.player {
		width: calc(92vw / 9 );
		height: calc(92vw / 9 );
		top: 1.5vw;
		left: 0vw;
	}
	
	@keyframes go-west {
		100% { transform: translate3d(calc(-110vw / 9), 0, 0); }
	}
	
	@keyframes go-east {
		100% { transform: translate3d(calc(110vw / 9), 0, 0); }
	}
	
	@keyframes go-north {
		100% { 	transform: translate3d(0, calc(-110vw / 9), 0); }
	}
	
	@keyframes go-south {
		100% { 	transform: translate3d(0, calc(110vw / 9), 0); }
	}
	

}